@model IndexModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row text-left">
    <div class="col-md-4"> </div>
    <div class="col-md-4">
        <form action="/" method="post">
            <div class="form-group">
                <label asp-for="Word"></label>
                <input asp-for="Word"
                       type="text"
                       name="Word"
                       class="form-control" />
                <span asp-validation-for="Word" class="text-danger"></span>
            </div>
            <button class="btn btn-info">
                SUBMIT
            </button>
            @if (Model.IsPalindrome && Model.Word != String.Empty)
            {
                <div class="form-group">
                    <label class="text-success">
                        "@Model.Word" is a Palindrome!
                    </label>
                </div>
            }
            else if (!Model.IsPalindrome && Model.Word != String.Empty)
            {
                <div class="form-group">
                    <label class="text-danger">
                        "@Model.Word" is not a Palindrome!
                    </label>
                </div>
            }
            else
            {

            }
        </form>
    </div>
    <div class="col-md-4"> </div>
</div>
